.paragraph01{
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	padding: 30px;
	margin-left: auto;
	text-align: left;
	text-indent: 1em;
	font-weight: bolder;
  }
.pictTitle{
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	padding: 30px;
  }
p span {
	font-size: 3rem;
}

.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

#box1 {
    background: url('./img/war01.png') center/ cover;
	width: 100%;
	height: fit-content;
	
}
h1{
	font-size: 2.5em;
	margin: 5%;
}
#box2 {
    background: url('./img/war02.png') center/ cover;
	width: 100%;
	height: fit-content; /*ここでMAX100vhにしてるから子要素の合計を100vhにしないと飛び出すお*/
	
}

#box3 {
    background: url('./img/war03.png') center/ cover;
	width: 100%;
	height: fit-content; /*ここでMAX100vhにしてるから子要素の合計を100vhにしないと飛び出すお*/
	
}

#box4 {
    background: url('./img/war04.png') center/ cover;
	width: 100%;
	height: fit-content;
	
}
#box4 h1{
	/*font-size: 3em;*/
	margin: 5% 5% 5% 0;
	text-align: right;
}

/*paginationの設定*/
.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  	transform: translateY(-50%);
	font-size:1em;
	z-index: 10;
	list-style: none;
}

.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:#fff;
	position:relative;
	padding:4px;
}

.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:0;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}

.pagination a:hover .hover-text {
	opacity: 1;
}

.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:"";
	position: absolute;
	margin:auto;
	top:0;
	right:3px;
	bottom:0;
}
