header img {
    width: 10%;
    text-align: left;
}
header h1,h2{
    text-align: center;
}
.wrapper {
    text-align: center;
}
section{
    position: relative;
    display: flex;
    font-family: 'monospace','Osaka','Osaka-等幅';
}
span{
    flex: auto;
}
span{
    position: relative;
    display: flex;
}
.content{
    flex: auto;
}
figure {
    aspect-ratio: 3/2;
}
figure img{
    width: 20vw;
}
figure img:hover{
    transform: scale(1.3);
}
footer {
    text-align: center;
}

@media screen and (max-width:960px) {
    section{
        display: flex;
        font-family: 'monospace','Osaka','Osaka-等幅';
    }
    span{
        flex: auto;
    }
    span{
        display: block;
    }
    .content{
        flex: none;
    }
    header img {
        width: 20%;
        text-align: left;
    }
    figure img{
        width: 40vw;
    }
    figure img .touchstart,.touchmove{
        transform: scale(1.1);
    }
}
@media screen and (max-width:430px) {
    section{
        display: block;
        font-family: 'monospace','Osaka','Osaka-等幅';
    }
    span{
        flex: none;
    }
    header {
        text-align: center;
    }
    header img {
        width: 40%;
    }
    figure img .touchstart{
        transform: scale(1.1);
    }
    figure img{
        width: 80vw;
    }
}


